body{
    font-size: 18px;
    background-image: url("bg2.png");
    text-align: center;
}

table{border-collapse: collapse;
      background-color:white;
      border-radius: 10px;
      overflow: hidden; 
}

table, td, th {
    border: 1px solid black;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

th{
    background-color: #6699cc;
    text-align: center;
}

tr:hover {
    background-color: lightgray;
}
div{text-align: center;}

.insert {
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 25px;
    border-radius: 4px;
    text-decoration: none;
    margin-top:20px;
    transform:translate(-50%, -50%);
}
.insert:hover{
    background-color: forestgreen;
    cursor: pointer;
    padding: 14px 20px;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.27), 0 17px 50px 0 rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: white;
    font-size: 28px;
}

h2{
    text-align: center;font-family:Snell Roundhand, cursive;
}

img{
    height: 40px;
    left:50%;
    margin-left:5px;
}