body {
    background-image: url("static/bg2.png");
}

#movienights {
    width: 400px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
}

#adminmenu{
    margin-left:40%;
    background-color: graytext;
    border: none;
    color: white;
    padding: 10px 15px;
    font-size: 22px;
    border-radius: 6px;
    text-decoration:none;
}

#adminmenu:hover{
    background-color: rgb(64,64,64);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.27), 0 17px 50px 0 rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: white;
}

/* USER CSS */

.nav {
    left: 70%;
    margin-left: -130px;
    position: absolute;
    z-index: 2;
}

.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background: #fff;
}

.dropdown1 {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 220px;
}

.dropdown-menu>li>a {
    color: #428bca;
}

.dropdown1 ul.dropdown-menu {
    border-radius: 4px;
    box-shadow: none;
    margin-top: 10px;
    width: 220px;
}

.dropdown1 ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.dropdown1 ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

/*Hover*/
.dropdown1:hover > .dropdown-menu {
    display: block;
}
.dropdown1 > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* END */

