body {
    background-image: url("pictures/bg.png");
    color: white;
}

#movie img {
    width: auto;
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    margin-top:17px;

}

#movie li {
    font-size: 17px;
    background-color: rgba(128, 128, 128, 0.178);
    border-radius: 10px;
    margin: 3px;
}

#movie .well {
    margin-top: 18px;
    font-size: 16px;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 15px;
    border-radius: 15px;
}

iframe {
    border-radius: 15px;
    width: 100%;
    height: 90%;
    margin: 0 auto;
    border-style: none;
    margin-top:17px;
}

#title {
    margin: 0 auto;
    font-family: Noto Sans, sans-serif;
}

/*Buttons*/

span {
    color: white;
}

.btn.heart.fa-heart-o {
    font-size: 19px;
}
.btn.heart.fa-heart {
    color: red;
}

.btn.clock.fa-clock-o {
    font-size: 19px;
}

.btn.clock.fa-clock-o.green {
    color: rgb(22, 212, 22);
}

.btn.eye.fa-eye {
    font-size: 19px;
}

.btn.eye.fa-eye.green {
    color: rgb(22, 212, 22);
}
.btn{
    font-size: 19px;
}

/*h3{
    text-align: center;
}*/
