body {
    background-image: url("pictures/bg.png");
    color: white;
}

#movies img {
    width: 105%;
    border-radius: 15px;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: auto;
    }
    #movies .col-md-3 img {
        height: auto;
    }
}

#movies {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 10px;
}
#moviestitle{
    font-size: 18px;
}
.nav-link{
    margin-left: 20px;
    text-align: center;
}



/*Profile CSS*/

h2 ,.profpage{
    font-family: "Times","Times New Roman", "serif";
}

.pager{
    background-color: forestgreen;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 25px;
    border-radius: 4px;
    text-decoration: none;
}


.pager:hover{
    background-color: forestgreen;
    cursor: pointer;
    padding: 12px 15px;
    transition: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.27), 0 17px 50px 0 rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: white;
    font-size: 28px;
}

#movienightsprof {
    width: 400px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
}

.profnavbar-nav {
    margin-top:10px;
}
/*Profile CSS END*/


/*Recommendations*/

#recimg{
    width:450px;
    transition: 0.5s;
    border-radius: 150px;
    margin: 0 auto;

}

#recimg:hover{
    width:500px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.57), 0 17px 50px 0 rgba(0, 0, 0, 0.42);
}

.par {
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.178);
    padding: 10px;
    border-radius: 15px;
    margin: 40px;
    text-align: center;
    padding: 10px;
}

#movienightsrec {
    width: 400px;
}
