
/* NAVBAR */

.navbar {
    font-size: 15px;
    right: 0;
    height:60px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-image: url("bg2.png");
    opacity: 1;
    padding-bottom: 15px;
    border-radius: 20px;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar-brand {
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.navbar-brand:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.57), 0 17px 50px 0 rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    background-color: gray;
}

.nav-link {
    font-size: 18px;
    margin: 5px;
    color: white;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.nav-link:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.57), 0 17px 50px 0 rgba(0, 0, 0, 0.42);
    border-radius: 15px;
    background-color: gray;
}

/* NAVBAR END*/

/* Search */

.search {
    width: 300px;
    margin: 0 auto;
}

/* Search END*/

/* Slider */

.slidecontainer {
    width: 160px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    background: url('pictures/cut3.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border: 0;
    background: url('pictures/cut3.png');
    cursor: pointer;
}
/* Slider END*/

#navbarDropdownMenuLink{
    cursor: pointer;
}

h2 ,.profpage{
    font-family: "Times","Times New Roman", "serif";
}

/*Genre*/
.genres{
    cursor: pointer;
}

/*Hover*/
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
