
body {
    background-image: url("pictures/bg.png");
    color: #ddd;
}

.content {
    margin: 0% auto;
    width: 100%;
    max-width: 570px;
    padding: 0 15px;
    position: relative;
}

.graphics {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;

}

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;
    z-index: 2;
}

.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.forgot{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}

#set{
    text-align: center;
    font-size: 20px;
}
